<!DOCTYPE html>
<html>
<head>
    <title>Kaśka Game</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">Kaśka</h1>
            <div class="healthbar">
                <div class="healthbar text-center" 
                style="background-color: green; margin: 0; color: white;"
                :style="{width: kaskaHealth + '%'}">
                    {{ kaskaHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">Damian</h1>
            <div class="healthbar">
                <div class="healthbar text-center" 
                style="background-color: green; margin: 0; color: white;"
                :style="{width: damianHealth + '%'}">
                    {{ damianHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameStarted">
        <div class="small-12 columns">
            <button id="start-game" @click="startGameNow">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" v-on:click="attack">ATTACK</button>
            <button id="special-attack" v-on:click="hardAttack">HARD ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns" :class="{'kaska-turn': turn.isKaska, 'damian-turn': !turn.isKaska}">
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>
<footer>
    <p>Vue.js</p>
</footer>
<script src="app.js"></script>
</body>
</html>